<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../webjars/font-awesome/4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" href="../../static/css/style-all.css" th:href="@{../css/style-all.css}">
    <title>Spring of Recipe</title>
</head>
<body>
<!--/*@thymesVar id="recipe" type="com.orbilax.springrecipe.model.Recipe"*/-->
<!--/*@thymesVar id="recipes" type="java.util.List"*/-->
<nav class="nav">
    <div class="nav__content">
        <div class="nav__left">
            <ul class="nav__list">
                <li class="nav__item"><a th:href="@{/index}" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Top Recipes</a></li>
                <li class="nav__item"><a href="#categories" class="nav__link">Categories</a></li>
                <li class="nav__item"><a th:href="@{/recipe/new}" class="nav__link">Submit Recipe</a></li>
            </ul>
        </div>
        <div class="nav__right">
            <form action="" method="get">
                <div class="search">
                    <input type="text" id="search-input" class="search__input" placeholder="Find A Recipe">
                    <button type="submit" class="search__btn"><i class="search__icon fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>
<main>
    <section class="recipe-section">
        <div class="recipe-section__category u-margin-top-medium">
            <h3 class="recipe-section__heading u-margin-bottom-medium">American</h3>
            <div class="row" th:if="${not #lists.isEmpty(recipes)}">
                <div class="col-1-of-4" th:each="recipe : ${recipes}">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/Greek-Tossed-salad.jpg" th:src="@{../img/honey-lime-fruit-salad.jpg}" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small" th:text="${recipe.description}">Greek Tossed Salad</h4>
                            <a href="#" th:href="@{'/recipe/' +  ${recipe.id} + '/show'}" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-1-of-4" th:remove="all">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/honey-lime-fruit-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4" th:remove="all">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/one-pot-red-wine-pasta.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4" th:remove="all">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/honey-lime-fruit-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" th:remove="all">
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/Greek-Tossed-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/honey-lime-fruit-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/one-pot-red-wine-pasta.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/honey-lime-fruit-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recipe-section__category u-margin-top-medium" th:remove="all">
            <h3 class="recipe-section__heading u-margin-bottom-medium">Italian</h3>
            <div class="row">
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/Greek-Tossed-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/honey-lime-fruit-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/one-pot-red-wine-pasta.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/honey-lime-fruit-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/Greek-Tossed-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/honey-lime-fruit-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/one-pot-red-wine-pasta.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
                <div class="col-1-of-4">
                    <div class="recipe-card">
                        <div class="recipe-card__img">
                            <img src="../../static/img/honey-lime-fruit-salad.jpg" alt="Recipe Image" >
                        </div>
                        <div class="recipe-card__content u-margin-top-small">
                            <h4 class="recipe-card__name u-margin-bottom-small">Greek Tossed Salad</h4>
                            <a href="#" class="recipe-card__view-btn u-margin-bottom-small"><i class="fa fa-eye"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer">
    <ul class="footer__link card-list">
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Submit Recipe</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="copyright">
        <h4 class="copyright__head">&copy;Copyright</h4>
        <p class="copyright__txt">
            This webapp is a test of the <a href="http://start.spring.io" class="copyright__link">spring framework 5</a> and sass by the developer.
            But the recipes here are all valid and great i hope. Feel free to submit recipes and use this app if you feel like it.
            Copied recipes should make sure to reference the source.
            You are welcome to fork the sass and spring boot code from the <a href="#" class="copyright__link">repo link</a>. <br>
            Happy coding!! <br>
            <span class="comment">&LeftAngleBracket;&excl;&mdash;Suggestions are welcome... <em>social links provided on homepage.</em>&mdash;&RightAngleBracket;</span>

        </p>
    </div>
</footer>
<div class="categories" id="categories">
    <div class="categories__card">
        <ul class="categories__list">
            <li class="categories__item"><a href="/recipe/all" class="categories__link">All</a></li>
            <li class="categories__item"><a href="#" class="categories__link">American</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Mexican</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Spanish</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Italian</a></li>
        </ul>
    </div>
</div>
</body>
</html>