<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
    <title>Upload Image Form</title>
</head>
<body>
    <!--/*@thymesVar id="recipe" type="com.orbilax.springrecipe.model.Recipe"*/-->
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Upload a new recipe image</div>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-5">
                                    <form action="http://localhost" method="post" enctype="multipart/form-data"
                                        th:action="@{'/recipe/' + ${recipe.id} + '/image'}">
                                        <label for="imagefile" class="control-label"></label>
                                        <input type="file" name="imagefile" id="imagefile" class="file">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>