<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" href="../../static/css/style-form.css" th:href="@{/css/style-form.css}">
    <title>Spring of Recipe</title>
</head>
<body>
<!--/*@thymesVar id="recipe" type="com.orbilax.springrecipe.commands.RecipeCommand"*/-->
<nav class="nav">
    <div class="nav__content">
        <div class="nav__left">
            <ul class="nav__list">
                <li class="nav__item"><a th:href="@{/index}" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Top Recipes</a></li>
                <li class="nav__item"><a href="#categories" class="nav__link">Categories</a></li>
                <li class="nav__item"><a th:href="@{/recipe/new}" class="nav__link">Submit Recipe</a></li>
            </ul>
        </div>
        <div class="nav__right">
            <form action="" method="GET">
                <div class="search">
                    <input type="text" id="search-input" class="search__input" placeholder="Find A Recipe">
                    <button type="submit" class="search__btn"><i class="search__icon fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>
<main>
    <section class="submit-recipe">
        <img th:src="@{/img/Egg-Shop.jpg}" alt="Form Background Image" class="submit-recipe__background-img">
        <div class="submit-recipe__content">

            <form th:action="@{/recipe/save}" th:object="${recipe}" class="submit-recipe__recipe-form form"
                  th:method="POST">

                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <p>Please correct the errors below</p>
                </div>


                <input type="hidden" th:field="*{id}">
                <div class="form__section">
                    <h2 class="heading-secondary u-margin-bottom-small">Edit Recipe Information</h2>
                    <div class="row">
                        <div class="col-1-of-2">
                            <div class="form__group">
                                <input type="text" id="description" class="form__input" placeholder="Recipe Description"
                                       th:field="*{description}">
                                <label for="description" class="form__label">Recipe Description</label>
                                <span th:if="${#fields.hasErrors('description')}">
                                    <ul>
                                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-1-of-3">
                            <div class="form__group">
                                <input type="text" id="preptime" class="form__input" placeholder="Prep Time"
                                       th:field="*{prepTime}">
                                <label for="preptime" class="form__label">Prep. Time</label>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="form__group">
                                <input type="text" id="cooktime" class="form__input" placeholder="Cook Time"
                                       th:field="*{cookTime}">
                                <label for="cooktime" class="form__label">Cook Time</label>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="form__group">
                                <select th:field="*{difficulty}" id="difficulty" class="form__control">
                                    <option th:each="difficultyValue : ${T(com.orbilax.springrecipe.model.Difficulty).values()}"
                                            th:value="${difficultyValue.name()}"
                                            th:text="${difficultyValue.name()}">Easy
                                    </option>
                                </select>
                                <label for="difficulty" class="form__label">Difficulty</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1-of-3">
                            <div class="form__group">
                                <input type="text" id="servings" class="form__input" placeholder="Servings"
                                       th:field="*{servings}">
                                <label for="servings" class="form__label">Servings</label>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="form__group">
                                <input type="text" id="source" class="form__input" placeholder="Source"
                                       th:field="*{source}">
                                <label for="source" class="form__label">Source</label>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="form__group">
                                <input type="text" id="url" class="form__input" placeholder="Url" th:field="*{url}">
                                <label for="url" class="form__label">Url</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form__section">
                    <div class="form__btn-heading">
                        <h2 class="heading-secondary u-margin-bottom-small">Ingredients</h2>
                        <a href="#" class="btn btn--small btn--grey form__title-btn"><i class="fa fa-edit"></i> Edit</a>
                    </div>
                    <ul>
                        <li th:remove="all">2 Cups of water</li>
                        <li th:remove="all">Tin of milk</li>
                        <li th:remove="all">Yellow fish</li>
                        <li th:remove="all">Some pepper and salt</li>
                        <li th:each="ingredient : ${recipe.ingredients}"
                            th:text="${(ingredient.amount + ' ' +
                                    ingredient.unitOfMeasure.description + ' - ' +
                                    ingredient.description)}">2 cloves of garlic
                        </li>
                    </ul>
                </div>
                <div class="form__section">
                    <h2 class="heading-secondary u-margin-bottom-small"><label for="directions">Directions</label></h2>
                    <div class="form__group">
                        <textarea id="directions" rows="8" class="form__control" th:field="*{directions}"></textarea>
                    </div>
                </div>
                <div class="form__section">
                    <h2 class="heading-secondary u-margin-bottom-small"><label for="notes">Notes</label></h2>
                    <div class="form__group">
                        <textarea id="notes" rows="5" class="form__control" th:field="*{notes.recipeNotes}"></textarea>
                    </div>
                </div>
                <div class="submit-recipe__submit">
                    <button class="btn btn--blue btn--medium" type="submit">Save Recipe</button>
                </div>
            </form>
        </div>
    </section>
</main>
<footer class="footer">
    <ul class="footer__link card-list">
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Submit Recipe</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="copyright">
        <h4 class="copyright__head">&copy;Copyright</h4>
        <p class="copyright__txt">
            This webapp is a test of the <a href="http://start.spring.io" class="copyright__link">spring framework 5</a>
            and sass by the developer.
            But the recipes here are all valid and great i hope. Feel free to submit recipes and use this app if you
            feel like it.
            Copied recipes should make sure to reference the source.
            You are welcome to fork the sass and spring boot code from the <a href="#" class="copyright__link">repo
            link</a>. <br>
            Happy coding!! <br>
            <span class="comment">&LeftAngleBracket;&excl;&mdash;Suggestions are welcome... <em>social links provided on homepage.</em>&mdash;&RightAngleBracket;</span>

        </p>
    </div>
</footer>
<div class="categories" id="categories">
    <div class="categories__card">
        <ul class="categories__list">
            <li class="categories__item"><a href="#" class="categories__link">American</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Mexican</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Spanish</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Italian</a></li>
        </ul>
    </div>
</div>
</body>
</html>