<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{../../webjars/font-awesome/4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" href="../../static/css/style-show.css" th:href="@{../../css/style-show.css}">
    <link rel="stylesheet" >
    <title>Spring Of Recipe</title>
</head>
<body>
<!--/*@thymesVar id="recipe" type="com.orbilax.springrecipe.model.Recipe"*/-->
<nav class="nav">
    <div class="nav__content">
        <div class="nav__left">
            <ul class="nav__list">
                <li class="nav__item"><a th:href="@{/index}" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Top Recipes</a></li>
                <li class="nav__item"><a href="#categories" class="nav__link">Categories</a></li>
                <li class="nav__item"><a href="#categories" class="nav__link">Submit Recipe</a></li>
            </ul>
        </div>
        <div class="nav__right">
            <form action="" method="get">
                <div class="search">
                    <input type="text" id="search-input" class="search__input" placeholder="Search Recipes">
                    <button type="submit" class="search__btn"><i class="search__icon fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</nav>
<section class="recipe u-margin-bottom-medium">
    <div class="row">
        <div class="col-1-of-3">
            <img src="../../static/img/Greek-Tossed-salad.jpg" th:src="@{'/recipe/' + ${recipe.id} + '/recipeimage'}" alt="Recipe Image" class="recipe__img">
            <a th:href="@{'/recipe/' + ${recipe.id} + '/image'}" class="btn btn--blue">Change Image ...</a>
            <div class="recipe__left-section u-margin-top-small">

                <h2 class="heading-secondary u-margin-bottom-small">Categories</h2>
                <ul class="card-list u-margin-bottom-medium">
                    <li th:remove="all">
                        <span class="list-style"></span>
                        <span class="list-text">Greek</span>
                    </li>
                    <li th:each="category: ${recipe.categories}">
                        <span class="list-style"></span>
                        <span class="list-text" th:text="${category.description}">American</span>
                    </li>
                </ul>

                <h2 class="heading-secondary">Ingredients</h2>
                <div class="view-ingredients u-margin-bottom-small">
                    <a th:href="@{'/recipe/' + ${recipe.id} + '/ingredients'}" class="btn btn--blue">View Ingredients</a>
                </div>
                <ul class="card-list u-margin-bottom-small">
                    <li th:each="ingredient : ${recipe.ingredients}">
                        <span class="list-style"></span>
                        <span class="list-text"
                              th:text="${(ingredient.amount)+
                               ' ' + (ingredient.unitOfMeasure.description)+
                               ' - '+ ingredient.description}">
                            1 box Betty Crocker™ Suddenly Salad® classic pasta salad mix
                        </span>
                    </li>
                    <li th:remove="all"><span class="list-style"></span><span class="list-text">Water and oil, see salad mix box for amounts</span></li>
                    <li th:remove="all"><span class="list-style"></span><span class="list-text">4 cups torn romaine lettuce</span></li>
                </ul>

            </div>
        </div>
        <div class="col-2-of-3">
            <div class="recipe__info">

                <h1 class="heading-primary u-margin-bottom-medium" th:text="${recipe.description}"> Greek tossed salad</h1>

                <h2 class="heading-secondary">Notes</h2>
                <p class="recipe__notes u-margin-bottom-small" th:text="${recipe.notes.recipeNotes}">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas possimus dolorum sunt aperiam laudantium praesentium exercitationem, libero similique quasi cum ipsam obcaecati inventore, nisi reiciendis minima rem, harum officia a.
                </p>
                <h2 class="heading-secondary">Cooking Instructions</h2>
                <p class="recipe__directions u-margin-bottom-medium" th:text="${recipe.directions}">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid dicta repellat sint minima veritatis. Consequuntur placeat, quasi sint maiores iure veniam tempore accusamus corporis debitis molestiae itaque nostrum, dolorum ipsum?
                    Dolore, nesciunt cum aut molestiae excepturi quos nulla nam deserunt exercitationem sapiente impedit unde eveniet vitae quae natus. Fugit vel incidunt neque perspiciatis sapiente ullam assumenda rem nesciunt a repellendus!
                    Modi culpa error asperiores laudantium amet assumenda minima, nulla adipisci! Soluta maiores deleniti sunt quaerat, non nulla aliquid earum natus blanditiis quasi! Ipsam repudiandae totam officiis, facere accusantium voluptatem aut.
                    Iste omnis ut assumenda magnam, error perferendis facere unde tenetur sed praesentium itaque ab commodi modi similique, atque ad perspiciatis harum nostrum. Dolorum voluptate at praesentium molestiae, libero id accusantium.
                </p>

                <h2 class="heading-secondary">Prep time</h2>
                <p class="recipe__prep-time u-margin-bottom-medium" th:text="${recipe.prepTime + ' Minutes'}">
                    20 minutes
                </p>

                <div class="row">
                    <div class="col-1-of-3">
                        <h2 class="heading-secondary">Cooking Time</h2>
                        <p class="recipe__cooking-time" th:text="${recipe.cookTime + ' Minutes'}">
                            Lorem ipsum, dolor
                        </p>
                    </div>
                    <div class="col-1-of-3">
                        <h2 class="heading-secondary">Servings</h2>
                        <p class="recipe__servings" th:text="${recipe.servings + ' People'}">
                            3 plates
                        </p>
                    </div>
                    <div class="col-1-of-3">
                        <h2 class="heading-secondary">Difficulty</h2>
                        <p class="recipe__difficulty" th:text="${recipe.difficulty}">
                            3 plates
                        </p>
                    </div>
                </div>
            </div>
            <div class="source u-margin-top-medium">
                <ul class="source__list">
                    <li class="source__submitted-by">
                        <span class="source__tag">Submitted By:&nbsp;&nbsp;</span>
                        <span class="source__name"><em th:text="${recipe.submittedBy}">Michael Votagio</em></span></li>
                    <li class="source__url">
                        <span class="source__tag">Url:&nbsp;&nbsp;</span>
                        <a href="http://sourcefoure.net" th:href="${recipe.url}" class="source__link" th:text="${recipe.source}">Source Forge</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<div class="categories" id="categories">
    <div class="categories__card">
        <ul class="categories__list">
            <li class="categories__item"><a href="/recipe/all" class="categories__link">All</a></li>
            <li class="categories__item"><a href="#" class="categories__link">American</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Mexican</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Spanish</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Italian</a></li>
        </ul>
    </div>
</div>
</body>
</html>