<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
</head>
<body>
    <!--/*@thymesVar id="ingredient" type="com.orbilax.springrecipe.commands.IngredientCommand"*/-->
    <!--/*@thymesVar id="uomList" type="java.util.Set<com.orbilax.springrecipe.commands.UnitOfMeasureCommand>"*/-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form th:object="${ingredient}" th:action="@{ '/recipe/' + ${ingredient.recipeId} + '/ingredient'}" th:method="post">
                    <input type="hidden" th:field="*{id}">

                    <div class="panel-group">

                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h1 class="panel-title">Edit Ingredient Information</h1>
                            </div>
                            <div class="panel-body">

                                <div class="row">

                                    <div class="col-md-3 form-group">
                                        <label>Description:</label>
                                        <input type="text" class="form-control" th:field="*{description}">
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label>Amount:</label>
                                        <input type="text" class="form-control" th:field="*{amount}">
                                    </div>

                                    <div class="col-md-3 form-group">
                                        <label>UOM:</label>
                                        <select name="unitOfMeasure.id" class="form-control">
                                            <option th:each="uomEach : ${uomList}"
                                                    th:value="${uomEach.id}"
                                                    th:selected="${uomEach.id == ingredient.unitOfMeasure.id}"
                                                    th:text="${uomEach.description}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>