<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
</head>
<body>
<!--/*@thymesVar id="ingredient" type="com.orbilax.springrecipe.commands.IngredientCommand"*/-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">View Ingredient</h1>
                </div>
                <div class="panel-body">

                    <div class="table-responsive"></div>

                    <table class="table table-hover">
                        <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:remove="all">
                                <td>4</td>
                                <td>Curly Flower</td>
                            </tr>
                            <tr>
                                <td th:text="${ingredient.id}">4</td>
                                <td th:text="${ingredient.amount + ' '+ ingredient.unitOfMeasure.description + ' ' + ingredient.description}">Curly Flower</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>