*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

html {
    font-size: 62.5%; }

body {
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100vw; }

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-5rem); }
    50% {
        opacity: .3; }
    100% {
        opacity: 1;
        transform: translateY(0); } }

@keyframes shake {
    0% {
        transform: rotate(3deg); }
    20% {
        transform: rotate(2deg) translate(-1rem, -2rem); }
    70% {
        transform: rotate(-1deg) translate(-0.5rem, 1.5rem); }
    100% {
        transform: rotate(-3deg); } }

body {
    font-family: sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777; }

.heading-secondary {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 0;
    text-transform: uppercase;
    letter-spacing: .3rem;
    transition: all .4s;
    backface-visibility: hidden; }
.heading-secondary:hover {
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.heading-primary {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: white;
    background-image: linear-gradient(to right bottom, #5643fa, #2998ff);
    border-radius: 3px; }

.heading-tertiary {
    text-align: center;
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: transparent;
    background-image: url(../img/honey-lime-fruit-salad.jpg);
    border-radius: 3px;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2); }

.comment {
    color: #777;
    font-size: 1.6rem; }

.u-margin-top-small {
    margin-top: 2rem !important; }

.u-margin-bottom-small {
    margin-bottom: 2rem !important; }

.u-margin-top-medium {
    margin-top: 4rem !important; }

.u-margin-bottom-medium {
    margin-bottom: 4rem !important; }

.search {
    display: inline-block;
    background-color: #fff; }
.search__input {
    display: inline-block;
    height: 3.8rem;
    width: 20rem;
    transition: all .3s;
    font-size: 1.5rem;
    font-weight: 400;
    padding: .5rem 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #2998ff; }
.search__input:focus {
    outline: none;
    width: 30rem; }
.search__btn {
    border: none;
    display: inline-block;
    padding: .5rem;
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 3px;
    background-color: #2998ff;
    color: white; }
.search__btn:focus {
    outline: none; }

.btn, .btn:link, .btn:visited {
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all .2s;
    border: none; }

.btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }

.btn:active, .btn:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--blue {
    background-image: linear-gradient(to left bottom, #2998ff, #5643fa);
    color: white; }

.btn--grey {
    background-color: #777;
    color: white; }

.btn--small {
    text-transform: capitalize; }

.btn--medium {
    text-transform: capitalize;
    font-size: 2rem; }

.btn--large {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .5rem; }

.card-list {
    display: block;
    list-style: none;
    font-size: 1.6rem; }
.card-list li {
    background-color: #fff;
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 3px; }
.card-list li::after {
    content: "";
    display: table;
    clear: both; }
.card-list li:not(:last-child) {
    margin-bottom: .5rem; }
.card-list li span.list-style {
    height: 1rem;
    width: 1rem;
    border-radius: .5rem;
    background-image: linear-gradient(to right bottom, #777, #999);
    margin-right: 1.5rem;
    float: left;
    transform: translateY(1rem); }
.card-list li span.list-text {
    float: left;
    width: 30rem;
    text-align: justify; }

.form__input {
    padding: 2rem;
    width: 100%;
    border-radius: 3px;
    border: none;
    transition: all .3s; }
.form__input::-webkit-input-placeholder {
    color: #777;
    font-size: 1.8rem; }
.form__input:focus {
    outline: none;
    border-right: 5px solid #00ff9d; }
.form__input:focus:invalid {
    border-right: 5px solid red; }

.form__control {
    padding: 2rem;
    width: 100%;
    border-radius: 3px;
    border: none;
    transition: all .3s; }
.form__control:focus {
    outline: none;
    border-right: 5px solid #00ff9d; }

.form__label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s; }

.form__input:placeholder-shown ~ .form__label {
    margin: 1rem 0 0 2rem;
    opacity: 0;
    transform: translateY(-5rem); }

.form__control:focus ~ .form__label {
    opacity: 1;
    transform: translateY(0); }

.form__control ~ .form__label {
    transform: translateY(-5rem);
    opacity: 0; }

.form__section {
    margin: .5rem;
    padding: 1rem 5rem 5rem 5rem;
    border-radius: 5px;
    border: 2px solid #777; }
.form__section:not(:first-child) {
    margin-top: 5rem; }

.form__btn-heading {
    position: relative; }

.form__title-btn {
    position: absolute;
    top: 1rem;
    right: 0;
    font-size: 1.2rem; }

.form ul {
    font-size: 1.8rem;
    font-weight: 500; }

.categories {
    visibility: hidden;
    opacity: 0;
    width: 0%;
    transition: all .3s; }
.categories:target {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    visibility: visible;
    opacity: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3); }
.categories__card {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
    position: absolute;
    display: table;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10rem;
    width: 80%; }
.categories__list {
    list-style: none; }
.categories__item {
    display: block;
    width: 20rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem 0;
    margin: 0 auto;
    transition: all .3s; }
.categories__item:not(:last-child) {
    border-bottom: 1px solid #fff; }
.categories__item:hover {
    transform: scale(1.5);
    text-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
    z-index: 100; }
.categories__link:link, .categories__link:visited {
    text-decoration: none;
    color: #fff; }

.row {
    max-width: 160rem;
    margin: 0 auto; }
.row:not(:last-child) {
    margin-bottom: 2rem; }
.row::after {
    content: "";
    display: table;
    clear: both; }
.row [class^="col-"] {
    float: left; }
.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem; }
.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
.row .col-1-of-3 {
    width: calc((100% - (6rem * 2)) /3); }
.row .col-2-of-3 {
    width: calc(2 * ((100% - (6rem * 2))/3) + 6rem); }
.row .col-1-of-4 {
    width: calc((100% - (6rem * 3)) /4); }
.row .col-2-of-4 {
    width: calc( 2 * ((100% - (6rem * 3)) /4) + 6rem); }
.row .col-3-of-4 {
    width: calc( 3 * ((100% - (6rem * 3)) /4) + (2 * 6rem)); }

.nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    font-size: 2rem;
    height: 8rem;
    width: 100vw;
    z-index: 2000;
    box-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.1); }
.nav__content {
    position: relative;
    padding: 2rem 5rem;
    transform: translateY(-1rem); }
.nav__left {
    display: inline-block;
    width: 67%; }
.nav__right {
    display: inline-block;
    width: 30%; }
.nav__list {
    display: inline-block;
    list-style: none; }
.nav__item {
    display: inline-block; }
.nav__item:not(:last-child) {
    margin-right: 2rem; }
.nav__link:link, .nav__link:visited {
    display: inline-block;
    text-decoration: none;
    padding: 1rem;
    background-image: linear-gradient(to right, #2998ff, #5643fa);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all .2s; }
.nav__link:hover {
    color: #777;
    transform: translateY(-0.5rem) scale(1.3);
    text-shadow: 0 1rem 0.5rem rgba(0, 0, 0, 0.1); }

body {
    padding-top: 8rem; }

.footer {
    color: #000;
    padding: 5rem 10rem; }
.footer::after {
    content: "";
    display: table;
    clear: both; }
.footer__link {
    font-size: 2rem;
    list-style: none;
    width: 20%;
    float: left; }
.footer__link li {
    text-align: center;
    margin: 2rem 0;
    display: block;
    transition: all .2s ease-in;
    border-right: 3px solid #00ff9d; }
.footer__link li a,
.footer__link li a:link,
.footer__link li a:visited {
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    transition: all .2s ease-in; }
.footer__link li:hover {
    transform: scale(1.2);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
.footer__link li:hover a {
    color: #777;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.copyright {
    width: 70%;
    height: 100%;
    margin-left: 10rem;
    float: left; }
.copyright__head {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1rem; }
.copyright__txt {
    font-size: 2rem; }
.copyright__link, .copyright__link:link, .copyright__link:visited {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    color: #03a567;
    text-transform: capitalize; }

.submit-recipe {
    position: relative;
    height: 180rem;
    width: 100vw;
    overflow: hidden; }
.submit-recipe__background-img {
    -webkit-filter: blur(5px) brightness(0.5);
    filter: blur(3px) brightness(0.6);
    background-size: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20%;
    z-index: 100; }
.submit-recipe__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101; }
.submit-recipe__recipe-form {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5rem;
    width: 75%; }
.submit-recipe__submit {
    text-align: center;
    padding: 5rem; }
