<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}">
    <script th:src="@{/webjars/jquery/1.11.1/jquery.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.js}"></script>
    <title>404 Error</title>
</head>
<body>
    <!--/*@thymesVar id="exception" type="java.lang.Exception"*/-->
    <div class="container" style="margin-top:20px">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>404 Not Found</h1>
                <p th:text="${exception.message}"></p>
            </div>
        </div>
    </div>
</body>
</html>