<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{webjars/font-awesome/4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" href="../static/css/style-index.css" th:href="@{css/style-index.css}">
    <title>Spring of Recipe - Home</title>
</head>
<body>
<main>
    <div class="home-head">

        <nav class="nav">
            <div class="nav__content">
                <div class="nav__left">
                    <ul class="nav__list">
                        <li class="nav__item"><a th:href="@{/index}" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Top Recipes</a></li>
                        <li class="nav__item"><a href="#categories" class="nav__link">Categories</a></li>
                        <li class="nav__item"><a th:href="@{/recipe/new}" class="nav__link">Submit Recipe</a></li>
                    </ul>
                </div>
                <div class="nav__right">
                    <form action="" method="get">
                        <div class="search">
                            <input type="text" id="search-input" class="search__input" placeholder="Find A Recipe">
                            <button type="submit" class="search__btn"><i class="search__icon fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
        <section class="heading">
            <div class="heading__video">
                <video class="bg-video" muted autoplay loop>
                    <source src="../static/img/Egg-Shop.mp4" th:src="@{img/Egg-Shop.mp4}" type="video/mp4">
                    <source src="../static/img/Egg-Shop.webm" th:src="@{img/Egg-Shop.webm}" type="video/webm">
                    Your browser is not supported!
                </video>
            </div>
            <div class="heading__left">
                <div class="heading__images">
                    <div class="overlap">
                        <img src="../static/img/honey-lime-fruit-salad.jpg" th:src="@{img/honey-lime-fruit-salad.jpg}" alt="Recipe Images" class="overlap__img-1">
                        <img src="../static/img/Greek-Tossed-salad.jpg" th:src="@{img/Greek-Tossed-salad.jpg}" alt="Recipe Images" class="overlap__img-2">
                        <img src="../static/img/one-pot-red-wine-pasta.jpg" th:src="@{img/one-pot-red-wine-pasta.jpg}" alt="Recipe Images" class="overlap__img-3">
                    </div>
                </div>
                <div class="heading__video">
                    <video class="bg-video" muted autoplay loop>
                        <!-- <source src="img/video.mp4" type="video/mp4"> -->
                        <!-- <source src="img/video.webm" type="video/webm"> -->
                        Your browser is not supported!
                    </video>
                </div>
            </div>
            <div class="heading__right">
                <div class="heading__social">
                    <div class="social">
                        <a href="https://bitbucket.org/addy-godwin/spring-recipe-app" target="_blank"><i class="social__icon fa fa-bitbucket"></i></a>
                        <a href="https://twitter.com/virtualmachyne" target="_blank"><i class="social__icon fa fa-twitter"></i></a>
                        <a href="#" target="_blank"><i class="social__icon fa fa-facebook"></i></a>
                        <a href="#" target="_blank"><i class="social__icon fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="heading__main">
                    <h1 class="heading__main--main-txt">Spring of Recipes</h1>
                    <h2 class="heading__main--sub-txt">Experience the flow of flavor</h2>
                    <div class="explore u-margin-top-medium">
                        <a href="#" class="btn btn--large btn--blue">Explore &rarr;</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="page-info">
        <div class="page-info__content">
            <h2 class="heading-tertiary u-margin-bottom-medium">food definitive...</h2>
            <p class="page-info__txt">
                Okay so you've been to a resturant, thanksgiving dinner maybe or you just started out cooking. You may want to try out something new,
                something amazing... well you're here after a long search i guess. Dig around and get the onions frying.
                Every tiny detail well put together to guide you make something to excite your taste buds. You can share something amazing recipes with fellow
                "foodies" if that's what you here for.&nbsp; &mdash; &nbsp;<span>Go amaze the world!.</span>
            </p>
        </div>
    </section>
</main>
<footer class="footer">
    <ul class="footer__link card-list">
        <li><a href="#">Terms of Use</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Submit Recipe</a></li>
        <li><a href="#">Contact Us</a></li>
    </ul>
    <div class="copyright">
        <h4 class="copyright__head">&copy;Copyright</h4>
        <p class="copyright__txt">
            This webapp is a test of the <a href="http://start.spring.io" class="copyright__link">spring framework 5</a> and sass by the developer.
            But the recipes here are all valid and great i hope. Feel free to submit recipes and use this app if you feel like it.
            Copied recipes should make sure to reference the source.
            You are welcome to fork the sass and spring boot code from the <a href="#" class="copyright__link">repo link</a>. <br>
            Happy coding!!<br>
            <span class="comment">&LeftAngleBracket;&excl;&mdash;Suggestions are welcome... <em>social links provided on homepage.</em>&mdash;&RightAngleBracket;</span>
        </p>
    </div>
</footer>
<div class="categories" id="categories">
    <div class="categories__card">
        <ul class="categories__list">
            <li class="categories__item"><a href="/recipe/all" class="categories__link">All</a></li>
            <li class="categories__item"><a href="#" class="categories__link">American</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Mexican</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Spanish</a></li>
            <li class="categories__item"><a href="#" class="categories__link">Italian</a></li>
        </ul>
    </div>
</div>
</body>
</html>